.container-diff-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.more-pool-text {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20px;
}
.enjoy-text {
  font-size: 25px;
  font-weight: 600;
  color: rgb(98, 106, 117);
  margin-bottom: 40px;
}
.buttons-diff-offer button{
  border: 1px solid transparent;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}
.discover-button {
  background-color: rgb(0, 178, 255);
  color: white;
  font-size: 15px;
  font-weight: 600;
  height: 80px;
  padding: 0 40px;
  border: none;
  margin-top: 50px;
  border-radius: 50px;
  cursor: pointer;
}
.diff-section-carousel {
  position: relative;
  width: 90%;
}
.diff-section-carousel button {
  position: absolute;
}
.diff-section-carousel button:first-of-type {
  right: -50px;
  top: 50%;
}
.diff-section-carousel button:nth-child(3) {
  left: -50px;
  top: 50%;
}
.picture-offer{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  transition: transform 0.5s ease;
}
.pool-container {
  margin-right: 30px;
}
.pool-container img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.name-pool {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.place {
  color: rgb(113, 113, 113) ;
  font-weight: 600;
  font-size: 16px;
}
.stars {
  color: rgb(0, 178, 255);
}
.price {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.fa-map-pin {
  color: rgb(161, 13, 13);
}
.button {
  transition: background-color 0.3s ease-in;
  background-color: rgb(239, 242, 246);
}
.make-blue {
  background-color: rgb(0, 178, 255);
}
.transition {
  transition: 1s ease;
}