:root {
  --color-theme: red;
}
body {
  height: 100%;
}
.sign-up-hosting {
  width: 120px;
}
.container-front-page {
  position: relative;
}
.container-text-front {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 30%;
  left: 50px;
  z-index: 1;
}
.container-text-front p:nth-child(1) {
  color: white;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  width: 50%;
}
.container-text-front p:nth-child(2) {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 50%;
  margin-top: 10px;
}
.get-started {
  width: 20%;
  height: 50px;
  background-color: var(--color-theme);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.pool-hosting-picture {
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(70%);
}
.header-hosting-trans {
  padding: 0 50px;
}
.offer {
  color: white;
  font-size: 17px;
  border: 1.6px solid white;
  background: transparent;
  height: 50px;
  padding: 0 20px;
  margin-right: 15px;
  border-radius: 100px;
  cursor: pointer;
  transition: all .5s;
}
.scrolled-offer {
  color: #626A75;
  font-size: 17px;
  border: 1.6px solid gray;
  background: transparent;
  height: 50px;
  padding: 0 20px;
  margin-right: 15px;
  border-radius: 100px;
}
.scrolled-sign-up-hosting {
  border: 1px solid rgb(175, 175, 175);
  color: gray;
}
.pool-offer:hover {
  border: 1.6px solid rgb(0, 178, 255);
  background-color: rgb(0, 178, 255);
  color: white;
}
.pickleball-offer:hover {
  background-color: #00538e;
  border: 1px solid #00538e;
  color: white;
}
.tennis-offer:hover {
  background-color: #00af54;
  border: 1px solid #00af54;
  color: white;
}
.hoops-offer:hover {
  background-color: #f86848;
  border: 1px solid #f86848;
  color: white;
}
.homes-offer:hover {
  background-color: rgb(0, 178, 255);
  border: 1px solid rgb(0, 178, 255);
  color: white;
}
.image-wrapper {
  position: relative;
  display: inline-block;
}
.image-wrapper img {
  display: block;
}
.color-pool {
  border: 1.6px solid rgb(0, 178, 255);
  background-color: rgb(0, 178, 255);
  color: white;
}
.color-pickleball {
  background-color: #00538e;
  border: 1px solid #00538e;
  color: white;
}
.color-tennis {
  background-color: #00af54;
  border: 1px solid #00af54;
  color: white;
}
.color-hoops {
  background-color: #f86848;
  border: 1px solid #f86848;
  color: white;
}
.color-homes {
  background-color: rgb(0, 178, 255);
  border: 1px solid rgb(0, 178, 255);
  color: white;
}
.info-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.front-text {
  position: relative;
  text-align: left;
  color: rgb(28, 32, 34);
  font-size: 38px;
  font-weight: 800;
  line-height: 47.4px;
  letter-spacing: -0.38px;
  margin-bottom: 50px;
}
.how-to-host-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 40px
}
.hosting {
  width: 33%;
}
.hosting p:nth-of-type(1){
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  padding: 0px;
  margin-bottom: 18px;
  color: rgb(28, 32, 34);
}
.hosting p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  color: rgb(98, 106, 117);
}
.hosting p:nth-child(2) {
  margin-bottom: 20px;
}
.hosting a {
  color: var(--color-theme);
  font-size: 18px;
  font-weight: 500;
}
.info-container button {
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-theme);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.protection-container {
  background-color: var(--color-theme); 
  display: flex;
  padding: 70px 50px;
}
.protection-container div:first-child {
  width: 90%;
}
.protection-container div:nth-child(2) {
  font-size: 100px;
  color: white;
  align-content: center;
  margin: auto auto;
}
.text-protection p:first-child{
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 800;
  line-height: 47.4px;
  letter-spacing: -0.38px;
  margin-bottom: 23px;
  text-align: left;
}
.text-protection p:nth-child(2) {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}
.container-review-host {
  margin-left: 100px;
}
.container-review-host p:first-child {
  text-align: left;
  color: rgb(28, 32, 34);
  margin-top: 30px;
  margin-bottom: 41px;
  font-size: 38px;
  font-weight: 800;
  line-height: 47.4px;
  letter-spacing: -0.38px;
}
.container-card {
  display: flex;
  gap: 40px;
}
.card {
  padding: 20px 20px 50px 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
  width: 28%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 20px;
}
.card p {
  text-align: center;
}
.name-host{
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: rgb(28, 32, 34);
  margin-bottom: 11px;
}
.since {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(98, 106, 117);
  margin-bottom: 31px;
}
.comment-host {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: rgb(98, 106, 117);
}
.earning {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 251, 254);
  color: rgb(0, 178, 255);
  font-size: 20px;
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.earning p {
  color: rgb(0, 178, 255);
  margin-left: 10px;
}
.got-back-text {
  text-align: left;
  color: rgb(28, 32, 34);
  font-size: 38px;
  font-weight: 800;
  line-height: 47.4px;
  letter-spacing: -0.38px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.container-got-back {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.container-card-back {
  display: flex;
  gap: 20px;
}
.card-back {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  border-radius: 15px;
  padding: 40px 50px;
  width: 33%;
  height: 330px;
}
.card-back i {
  color: var(--color-theme);
  font-size: 40px;
  background-color: rgb(242, 251, 254);
  padding: 20px 20px;
  border-radius: 50%;
}
.card-back p:nth-child(2) {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  color: rgb(28, 32, 34);
  margin-bottom: 10px;
}
.card-back p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  color: rgb(98, 106, 117);
}
.card-back-middle {
  height: 300px;
}
.division-page {
  height: 15px;
  background-color: rgb(243, 243, 243);
  margin-top: 100px;
}
.learn-container {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, .3);
  width: 90%;
  height: 350px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  border-radius: 15px;
}
.learn-text-container {
  padding: 20px 40px;
  width: 50%;
}
.learn-container i {  
  color: var(--color-theme);
  font-size: 30px;
  background-color: rgb(238, 250, 254);
  padding: 20px 20px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
}
.learn-container p:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  color: rgb(28, 32, 34);
  margin: 15px 0;
}
.learn-container p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: rgb(98, 106, 117);
  text-align: left;
  margin-bottom: 15px;
}
.learn-container button {
  padding: 12px 20px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-theme);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.learn-container img {
  border-radius: 15px;
}
.engage-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
}
.left-section-engage {
  position: relative;
}
.left-text {
  position: absolute;
  top: 20%;
  z-index: 1;
  padding: 0 60px;
}
.left-text p:first-child {
  font-size: 34px;
  font-weight: 800;
  line-height: 120%;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.left-text p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.left-text button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-theme);
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 50%;
  height: 40px;
}
.right-section-engage {
  position: relative;
}
.right-text {
  position: absolute;
  top: 20%;
  z-index: 1;
  padding: 0 60px;
}
.right-text p:first-child {
  font-size: 34px;
  font-weight: 800;
  line-height: 120%;
  color: rgb(255, 255, 255);
}
.wave-design {
  position: absolute;
  left: 380px;
  bottom: -15px;
  color: var(--color-theme)
}
.left-picture-engage,
.right-picture-engage {
  filter: brightness(50%);
  width: 100%;
  height: 400px;
  object-fit: cover;
}